@page "/"

<PageTitle>Index</PageTitle>
<h3>Home</h3>

<Div Class="justify-content-end">
    <Text>Welcome to Pokemon Team Builder! This was started as a project for school and will (hopefully!) become much more!</Text>

    <br />
    <Div>
        Pokemon of the day!
        <PokemonComponent NatDexId=@rand.Next(1,898) />
    </Div>
</Div>
@code {
    private Random rand = new Random(DateTime.Today.DayOfYear);
}
