@page "/teambuilder"
@using pokemon_team_builder.Components

<h3>Teambuilder</h3>

<div>
   <Pokemon/>
   <Pokemon/>
   <Pokemon/>
   <Pokemon/>
   <Pokemon/>
   <Pokemon/>

   <Pokedex/>
</div>


@code {

}
