@using PokeApiNet
<h3>Pokedex</h3>

@foreach (PokemonEntry pokemon in PokemonInDex) {
    <PokemonComponent PokedexId=pokemon.EntryNumber/>
}


@code {
    // Right now am only doing Kanto, will change if I need more pages

    [Parameter]
    public List<PokemonEntry>? PokemonInDex { get; set; }

}
